body,
textarea,
input{
	font: 13px "Trebuchet MS", sans-serif;
	
}

.chat{
	max-width:300px;
	
}

.chat-messages,
.chat-textarea,
.chat-name{
	border:1px solid #bbb;
}

.chat-messages{
	width:330px;
	height:300px;
	overflow-y:scroll;
	padding:10px;
}

.chat-message{
	margin-bottom:10px;
}

.chat-name{
	width:350px;
	padding:10px;
	border-bottom:0;
	margin:0;
}

.chat textarea{
	width:100%;
	padding:10px;
	margin:0;
	border-top:0;
	max-width:100%;
}

.chat-status{
	color:#930;
}

.chat textarea,
.chat-name{
	outline:none;
	
}